/* import custom font start  */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800;900&display=swap');
/* import custom font end  */


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}
:root{
    --secondary:var(--secondary);
    --hover-bg:#ece9e9;
    --text-clr:var(--secondary);
    --white:#fff;


}
/* basic setting start  */
.container{
    padding: 0 30px;
    margin: 0 auto;
}

body{
    background: var(--white);
}

body.dark{
    --white:#1b1b1b;
    --secondary:#fff;
}

.row{
    display: flex;
}
.justi_center{
    justify-content: center;
}
.items_center{
    align-items: center;
}
.justi_between{
    justify-content: space-between;
}
/* basic setting end  */

/* header section start  */
.menu-btn{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    
}

.menu-btn span{
    display: inline-block;
    width: 50%;
    height: 1px;
    background: #000;
    position: relative;
    border-radius: 5px;
}
.menu-btn span::after,
.menu-btn span::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000;
    border-radius: 5px;

}

.menu-btn span::after{
    transform: translateY(-6px);    
}
.menu-btn span::before{
    transform: translateY(6px);
}

.logo{
    width: 100px;
    margin-top: 3px;
}
.logo img{
    width: 100%;
}

.menus{
    display: flex;
    align-items: center;
}

.icon-col img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}
.branding .icon-col ion-icon{
    font-size: 30px;
    margin-right: 30px;
    cursor: pointer;
    cursor: pointer;
    font-weight: 200;
}
.search-box{
    width: 40%;
    padding: 10px;
    display: flex;
    border: 1px  solid #909090;
    border-radius: 30px;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
}
.search-box.active{
    border: 1px solid var(--secondary);
}
.search-box input{
    font-size: 18px;
    background: transparent;
    border: none;
    outline: none;
    left: 10px;
}
::placeholder{
    color: var(--secondary);
}
.search-icon{
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-icon ion-icon{
    font-size: 20px;
    color: var(--secondary);
    
}


/* header section end */

/* left side bar start  */
.left{
    width: 300px;
  
}
.scroll {
    height: 90vh;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: center;
    padding: 20px;
  }
svg{
    width: 20px!important;
    color: var(--secondary);
}
.left ul li{
    display: flex;
    list-style: none;
    padding: 10px;
    align-items: center;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
}
.left ul li.active{
    background: var(--hover-bg);
}
.left ul li:hover{
    background: var(--hover-bg);
}
.left ul li a{
    color: var(--secondary);
    font-weight: 400;
    margin-left: 10px;
}
a{
    text-decoration:none ;
}

.break{
    position: relative;
    margin-top: 10px;
}
.break::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background: #dad7d7;
    top: 0;
    left: 0;
    
}
/* left side bar end  */

/* right side bar start  */
.top-cate ul{
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
.top-cate ul li{
    list-style: none;
    margin-left: 20px;
    padding: 10px;
    background: var(--hover-bg);
    color: var(--secondary);
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
}
.top-cate ul li.active{
    background: #000;
    color: var(--white);
}
.flex-col{
    flex-direction: column;
}
.article{
    margin-top: 10px;
    margin-left: 10px;
}
.article ul li{
    width: 300px;
    border-radius: 10px;
    list-style: none;
    padding: 7px;
   
    cursor: pointer;

}
.article ul li img{
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}
.title{
    font-size: 15px;
    margin: 5px;
    font-weight: 600;
}
.times{
    font-size: 13px;
    margin: 5px;
    margin-top: 10px;
    font-weight: 300;
}

.article ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;

    
}
/* right side bar end  */


/* sidebar start  */
.side-bar{
    width: 350px;
    position: fixed;
    right: 100px;
    background: #fff;
    padding: 30px;
    display: none;
}
.side-bar.show{
    display: block;
}
.side-bar .users{
    display: flex;
   align-items: center;
   padding: 10px;
   position: relative;

}
.side-bar .users::before{
    content: "";
    position: absolute;
    width: 100%;
    top: 100%;
    padding: 0;
    height: 2px;
    background: var(--hover-bg);
}
.user-text{
    margin-left: 20px;
}
.users .user-img{
    width: 50px;
}
.user-img img{
    width: 100%;
    border-radius: 50%;
}
.side-bar .row{
    flex-direction: column;
}

.user-text h2{
    font-size: 20px;
    color: var(--text-clr);
 
}

.user-text .desc{
    color: #8d8b8b;
    font-size: 14px;
}
li{
    list-style: none;
}
.side-text ul li{
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}
.side-bar ul{
    margin-top: 30px;
}
.side-bar ul li svg{
    margin-right: 20px;
}
/* sidebar end  */

.apperance{
    width: 200px;
    background: var(--white);
    height: 200px;
    position: fixed;
    top: 50px;
    display: none;
    right: 200px;
    transition: 0.5s;
}
.apperance.show{
    display: block;
}
.apperance ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.apperance ul li{
    margin-top: 50px;
    cursor: pointer;
}
.btn-sm{
    padding: 5px;
    background: var(--hover-bg);
    columns: var(--secondary);
    outline: none;
    border: none;
}

video{
    width: 800px!important;
}
/* upload wrapper start */
.upload-main{
    position: fixed;
    background: rgba(0, 0, 0,0.5);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
.upload-main.show{
    display: flex;
    
}

.upload-wrapper{
    width: 600px;
    height: 500px;
    background: #fff;
    padding: 20px;
}

.form-control{
    display: flex;
    
    flex-direction: column;
}
.form-control input{
    padding: 10px;
    outline: none;
    border: none;
    border: 1px solid #000;
   
}
.form-control{
    margin-top: 20px;
}

.btn{
    padding: 10px;
    outline: none;
    border: none;
    background: transparent;
    background: #000;
    cursor: pointer;
    color: var(--white);
}
textarea{
    border: none;
    outline: none;
    border: 1px solid #000;
    padding: 10px;
}
/* upload wrapper end */

/* sign up section start  */

.wrapper{
    width: 400px;

    background: var(--hover-bg);
    padding: 30px;
   
}
.main-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
   
}
/* sign up section end  */

/* view video area start  */
.owner{
    display: flex;
    align-items: center;
    width: 300px;
}

.img-owner{
    width: 60px;
    height: 60px;
    border: 3px solid #000;
    border-radius: 50%;
  
}
.img-owner img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.owner-text{
    display: flex;
    justify-content: center;
    align-items: center;
}
.owner-text p{
    margin-left: 10px;
}
.owner-text h2{
    margin-left: 10px;
}
/* view video area end  */